@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<link rel="stylesheet" href="~/css/MusicVideo.css" />



<div class="content-container">
    <h1 class="overlap">THIS MUST BE THE PLACE</h1>
 </div>
    <p>STRING CHEESE INCIDENT</p>
</div>



<div class="video">
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/vOTF3J8m_ms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
</div>

